@media screen and (min-width:601px) and (max-width:88888px){
body {
      position: relative;
      height: 100%;
	  margin:0 auto;
	  background-color:#efefef;
    }
	.frame {
		padding:15px 0;
	}
	/*固定寬*/
	.fixed-width {
		width:1000px;
		height:auto;
		margin:0 auto;
		background-color:#fff;
		padding:0 10px;
		box-shadow:1px 2px 5px #c4c4c4;
		border-radius:10px 10px 0 0;
	}
	#header {
		min-width:1000px;
		height:80px;
		/*box-shadow:1px 2px 5px #c4c4c4;*/
	}
	.title{
		width:1000px;
		margin: 0 auto;
		display:flex;
		justify-content:space-between;
	}
		.logo {
			width:250px;
		}
		.logo img {
			width:200px;
			padding:20px;
		}
	.home {
		padding:5px 10px 0 0;
		line-height:80px;
		font-size:0.9rem;
	}
	.home a:hover{
		text-decoration:underline;
	}
	.home img {
		width:18px;
		margin-right:5px;
	}
	.home a {
		text-decoration:none;
		color:#2b2b2b;
	}
	/*選單*/
#nav {
	height:53px;
	display:flex;
}
.nav-float{
	display:flex;
	z-index:2;
	padding:0 0 0 20px;
}
	.jq-clickBtn {
		list-style:none;
		width:130px;
		margin:0 20px 0 0;
		text-align:center;
	}
	.jq-clickBtn:hover::after{
		content:"";
		width:60px;
		height:5px;
		background-color:#00a031;
		display:block;
		margin: 0 auto;
		position:relative;
		bottom:6px;
		opacity:0.6;
	}

		.jq-clickBtn a {
			display:block;
			text-decoration:none;
			color:#353535;
			font-weight:bold;
			font-size:1.1rem;
		}
	.dropdownList {
		padding:0 2px;
		background-color:#00a031;
		text-align:left;
	}
	.dropdownList li {
		list-style:none;	
		padding:5px 0 5px 2px;
		}
		.dropdownList li a {
			color:#fff;
			font-size:0.98rem;
			font-weight:normal;
		}
	/*輪播照片*/
	.photo {
		margin-top:15px;
	}
	.photo ul {
		padding:0;
		margin:0;
	}
	.photo img {
		height:220px;
		width:100%;
	}
	.bx-wrapper{
		margin:15px 0 30px 0!important;
	}
#main {
	display:flex;
	padding-bottom:30px;
}
/*選單*/
	.menu  {
		flex: 0 0 18%;
		display:flex;
	}
		.menu ul {
			list-style:none;
			margin:0;
			padding:0 0 0 15px;
			font-size:1rem;
			width:145px;
		}
		.menu span {
			display:block;
			background-color:#00a031;
			color:#fff;
			font-weight:800;
			padding:3px;
		}
		.menu ul a {
			text-decoration:none;
			color:#fff;
		}

		.menu ul li {
			margin:5px 0 5px 0;
			color:#444444;
			font-size:0.9rem;
		}
		.menu ul li:hover {
		text-decoration:none;
		color:#262626;
		opacity:0.6;
		}
		
	/*主要編輯區*/	
	.detail {
		flex-wrap:wrap;
		flex-grow:1;
		flex-shrink:1;
		width:100%;
	}
	.arrow-title {
		display:inline-flex;
		width:800px;
		height:18px;
		align-items:center;
		background-color:#00a031;
		color:#fff;
		font-weight:800;
		padding:5px 0 5px 5px;
	}
		.arrow-title img {
			height:9px;
			margin-right:5px;
		}
	.desc {
		width:800px;
		margin-top:8px;
		border: 3px solid #ecf9e8;
		overflow:auto;
	}
	footer {
		height:70px;
		background-color:#52555b;
		z-index:20;
		width:1000px;
		margin:0 auto;
		padding:0 10px;
		box-shadow:1px 2px 5px #c4c4c4;
		border-radius: 0 0 10px 10px;
	}
	.contact {
		text-align:center;
	}
	.links {
		padding:5px 0 0 0;
	}
		.links a {
			text-decoration:none;
			color:#fff;
		}
		.links a:hover {
			text-decoration:underline;
		}
		.links a:nth-child(1) {
			border-right:1px solid #fff;
			padding-right:5px;
		}
	.tel {
		padding-top:3px;
		color:#fff;
		opacity:0.8;
		font-size:0.9rem;
	}
	.iso {
		color:#fff;
		opacity:0.8;
		font-size:0.9rem;
	}
}
@media screen and (min-width:10px) and (max-width:600px){
	body {
      position: relative;
	  margin:0 auto;
	  background-color:#efefef;
    }
}